## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import math


import pandas as pd

In [2]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop( columns= ['EIN','NAME'])

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_vc = application_df["APPLICATION_TYPE"].value_counts()
app_vc

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# original process kept for future reference
# for q in range(len(app_vc)):
#     temp = app_vc.index.values[q]
#     if app_vc[q] < 256:
#         application_types_to_replace.append(temp)

application_types_to_replace = []
app_replace = app_vc[app_vc < 65]
application_types_to_replace = app_replace.index.values



# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_vc = application_df["CLASSIFICATION"].value_counts()
print(class_vc)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1

class_vc2 = class_vc[class_vc > 1]
class_vc2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []
class_replace = class_vc[class_vc < 100]
classifications_to_replace = class_replace.index.values

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(application_df)
X

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = X['IS_SUCCESSFUL']
X = X.drop(columns='IS_SUCCESSFUL')
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  32
hidden_nodes_layer2 = 32

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                1664

 dense_1 (Dense)             (None, 32)                1056

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,753
Trainable params: 2,753
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
checkpoint_path = "trial_2/cp.ckpt"

callback = tf.keras.callbacks.ModelCheckpoint(filepath=checkpoint_path,
                                              save_weights_only=True,
                                              verbose=1,
                                              save_freq=4020)

fit_model = nn.fit(X_train_scaled,y_train,epochs=50, callbacks=callback)

Epoch 1/50
804/804 [==============================] - 1s 967us/step - loss: 0.5735 - accuracy: 0.7164
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5545 - accuracy: 0.7281
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7291
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7289
Epoch 5/50
770/804 [===========================>..] - ETA: 0s - loss: 0.5489 - accuracy: 0.7297
Epoch 5: saving model to trial_2\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7303
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7295
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7313
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7312
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7333
Epoch 10/50
800/804 [============================>.] - ETA: 0s - loss: 0.5449 - accuracy: 0.7323
Epoch 10: saving model to trial_2\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7322
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7323
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7333
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7332
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7338
Epoch 15/50
757/804 [===========================>..] - ETA: 0s - loss: 0.5438 - accuracy: 0.7326
Epoch 15: saving model to trial_2\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7327
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7329
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7332
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7351
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7333
Epoch 20/50
795/804 [============================>.] - ETA: 0s - loss: 0.5418 - accuracy: 0.7344
Epoch 20: saving model to trial_2\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7345
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7343
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7350
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7328
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7357
Epoch 25/50
779/804 [============================>.] - ETA: 0s - loss: 0.5407 - accuracy: 0.7354
Epoch 25: saving model to trial_2\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7354
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7341
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7339
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7362
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7350
Epoch 30/50
791/804 [============================>.] - ETA: 0s - loss: 0.5401 - accuracy: 0.7361
Epoch 30: saving model to trial_2\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7358
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7361
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7361
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7357
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7357
Epoch 35/50
801/804 [============================>.] - ETA: 0s - loss: 0.5389 - accuracy: 0.7356
Epoch 35: saving model to trial_2\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7357
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7358
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7367
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7360
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7363
Epoch 40/50
780/804 [============================>.] - ETA: 0s - loss: 0.5379 - accuracy: 0.7374
Epoch 40: saving model to trial_2\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7368
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7372
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7379
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7372
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7363
Epoch 45/50
802/804 [============================>.] - ETA: 0s - loss: 0.5375 - accuracy: 0.7370
Epoch 45: saving model to trial_2\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7369
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7379
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7376
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7372
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7371
Epoch 50/50
757/804 [===========================>..] - ETA: 0s - loss: 0.5367 - accuracy: 0.7367
Epoch 50: saving model to trial_2\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7370

# Changes made from Trial_1
- increased bins of 'CLASSIFICATION' and 'APPLICATION_TYPE' categories
- added second hidden layer
- increased epochs to 50 from 25

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5486 - accuracy: 0.7319 - 465ms/epoch - 2ms/step
Loss: 0.5486094355583191, Accuracy: 0.7318950295448303

In [17]:
# Export our model to HDF5 file
nn.save('trial_2\my_model.h5')