## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import math


import pandas as pd

In [2]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop( columns= ['EIN','NAME'])

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_vc = application_df["APPLICATION_TYPE"].value_counts()
app_vc

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# original process kept for future reference
# for q in range(len(app_vc)):
#     temp = app_vc.index.values[q]
#     if app_vc[q] < 256:
#         application_types_to_replace.append(temp)

application_types_to_replace = []
app_replace = app_vc[app_vc < 155]
application_types_to_replace = app_replace.index.values



# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_vc = application_df["CLASSIFICATION"].value_counts()
print(class_vc)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1

class_vc2 = class_vc[class_vc > 1]
class_vc2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []
class_replace = class_vc[class_vc < 1883]
classifications_to_replace = class_replace.index.values

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(application_df)
X

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = X['IS_SUCCESSFUL']
X = X.drop(columns='IS_SUCCESSFUL')
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  32
hidden_nodes_layer2 = 8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                1440

 dense_1 (Dense)             (None, 1)                 33

=================================================================
Total params: 1,473
Trainable params: 1,473
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
checkpoint_path = "trial_1/cp.ckpt"

callback = tf.keras.callbacks.ModelCheckpoint(filepath=checkpoint_path,
                                              save_weights_only=True,
                                              verbose=1,
                                              save_freq=4020)

fit_model = nn.fit(X_train_scaled,y_train,epochs=25, callbacks=callback)

Epoch 1/25
804/804 [==============================] - 1s 896us/step - loss: 0.5849 - accuracy: 0.7100
Epoch 2/25
804/804 [==============================] - 1s 930us/step - loss: 0.5583 - accuracy: 0.7283
Epoch 3/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5551 - accuracy: 0.7288
Epoch 4/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5534 - accuracy: 0.7306
Epoch 5/25
785/804 [============================>.] - ETA: 0s - loss: 0.5522 - accuracy: 0.7319
Epoch 5: saving model to trial_1\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7322
Epoch 6/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7306
Epoch 7/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7324
Epoch 8/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7317
Epoch 9/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7332
Epoch 10/25
801/804 [============================>.] - ETA: 0s - loss: 0.5482 - accuracy: 0.7314
Epoch 10: saving model to trial_1\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7319
Epoch 11/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7318
Epoch 12/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7315
Epoch 13/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7336
Epoch 14/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7325
Epoch 15/25
800/804 [============================>.] - ETA: 0s - loss: 0.5469 - accuracy: 0.7333
Epoch 15: saving model to trial_1\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7335
Epoch 16/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7322
Epoch 17/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7325
Epoch 18/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7332
Epoch 19/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7345
Epoch 20/25
801/804 [============================>.] - ETA: 0s - loss: 0.5452 - accuracy: 0.7325
Epoch 20: saving model to trial_1\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7321
Epoch 21/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7335
Epoch 22/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7336
Epoch 23/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7338
Epoch 24/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7340
Epoch 25/25
770/804 [===========================>..] - ETA: 0s - loss: 0.5444 - accuracy: 0.7338
Epoch 25: saving model to trial_1\cp.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7337

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5572 - accuracy: 0.7247 - 420ms/epoch - 2ms/step
Loss: 0.5572279691696167, Accuracy: 0.7246647477149963

In [17]:
# Export our model to HDF5 file
nn.save('trial_1\my_model.h5')